<mat-toolbar role="header" color="primary">
  <span>{{title.getTitle()}}</span>
  <span class="spacer"></span>
  <button mat-raised-button (click)="login()" color="accent" *ngIf="!isLoggedIn">Login</button>
  <button mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="loggedInMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #loggedInMenu="matMenu">
  <span mat-menu-item [disabled]="true" [disableRipple]="true" *ngIf="isLoggedIn" class="mat-caption">Logged in as {{ user?.wcaId }}</span>
  <button mat-menu-item routerLink="/competition/import">Import Competition</button>
</mat-menu>

<router-outlet></router-outlet>
