<div *ngIf="(competition$ | async) as competition">
  <h2>{{ competition.name }}</h2>
  <mat-accordion displayMode="flat">
    <mat-expansion-panel *ngFor="let event of competition.events; trackBy: eventTracker">
      <mat-expansion-panel-header>
        <mat-panel-title><h4>{{ event.id }}</h4></mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngFor="let round of event.rounds; trackBy: roundTracker">
        <a [routerLink]="['results', round.id]" *ngIf="round.opened">{{ roundName(round.id, event.rounds.length) }}</a>
        <span *ngIf="!round.opened" title="This round hasn't been opened yet!">{{ roundName(round.id, event.rounds.length) }}</span>
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  