<div *ngIf="(competitions$ | async) as competitions">
  <h1>Your upcoming competitions:</h1>
  <table>
    <thead>
      <tr><th>Name</th><th>Startdate</th><th>Enddate</th><th></th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let competition of competitions">
        <td>{{competition.name}}</td>
        <td>{{competition.startDate.format('LL')}}</td>
        <td><span *ngIf="competition.endDate.diff(competition.startDate) !== 0">{{ competition.endDate.format('LL') }}</span></td>
        <td>
          <button mat-raised-button color="accent" (click)="import(competition)" [disabled]="loading.indexOf(competition.id) > -1">
            {{ this.imported.indexOf(competition.id) > -1 ? 'Update' : 'Import' }}
          </button>
          &nbsp;
          <a mat-raised-button color="accent" *ngIf="imported.indexOf(competition.id) > -1 && isNow(competition)" [routerLink]="['/admin/competition', competition.id]">Enter Results</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>