:host {
  table {
    width: 85vw;
    flex: 1 1 85vw;
    position: relative;
  }

  thead th {
    position: sticky;
    top: 64px;
    background-color: white;
  }
  
  th {
    text-align: left;
  }

  th, td {
    padding: .2rem;
  }

  .ranking {
    width: 2rem;
  }

  .average, .best {
    font-weight: bold;
  }
}