$fa-font-path: '../node_modules/font-awesome/fonts';

$mat-primary: (
  50: #e6e9f2,
  100: #c1c9e0,
  200: #98a5cb,
  300: #6e80b6,
  400: #4f65a6,
  500: #304a96,
  600: #2b438e,
  700: #243a83,
  800: #1e3279,
  900: #132268,
  A100: #9faeff,
  A200: #6c82ff,
  A400: #3957ff,
  A700: #1f41ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
$mat-secondary: (
  50: #fcefe5,
  100: #f8d6bf,
  200: #f4bb94,
  300: #ef9f69,
  400: #eb8b48,
  500: #e87628,
  600: #e56e24,
  700: #e2631e,
  800: #de5918,
  900: #d8460f,
  A100: #ffffff,
  A200: #ffdcd2,
  A400: #ffb59f,
  A700: #ffa285,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
