@import '~@angular/material/theming';
@import 'vars.scss';

@include mat-core();

@include angular-material-theme($wca-live-theme);


.full-container {
  width: 100%;
  height: 100%;
  position: relative;
}