@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

* {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
